
* { margin:0; padding:0; }

#iContent *
{
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 9px;
}

#iMeta
{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px;
  background-color: #FFFFFF;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

#iMeta p
{
  text-align: right;
}

.cParticipant
{
  position: absolute;
  bottom: 0px;
}

.cParticipant .cImageWrapper
{
  position: absolute;
  left: -50px;
  bottom: 0px;
  xborder: 1px solid #000000;
  width: 100px;
  height: 100px;
}

.cParticipant .cNickname
{
  position: absolute;
  bottom: 12px;
  left: 70px;
  padding: 1px;
  border: 1px solid #7CC100;
  background-color: #F5F5F5;
}

.cParticipant .cAvatar
{
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0px;
  background-image:url('DefaultAvatar.png');
  background-repeat:no-repeat;
  background-position-x:center; 
  background-position-y:bottom; 
}

.cParticipant .cChatWrapper
{
  position: absolute;
  left: -75px;
  bottom: 102px;
  xborder: 1px solid #000000;
  width: 150px;
  height: 100px;
}

.cParticipant .cChat
{
  position: absolute;
  width: 150px;
  bottom: 0px;
  text-align:center;
  background-color: #FFFFFF;
  border: 1px solid #777777;
  padding: 4px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0 0 5px #888;
}
