<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TraceLog" value="C:\temp\AvatarNavigator.log"/>
    <add key="TraceLevel" value="All"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" ></trace>
  </system.diagnostics>
  <startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
