* { margin:0; padding:0; }

*
{
  font-family:Verdana, Arial, Sans-Serif;
  font-size:11px;
}

#Wrapper {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  border: solid 1px #D0D0D0;
  background-color:#ffffff;
  padding:0px;
}

.Items
{
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
}

.Panel .Name 
{
  display:none;
}

.Item {
  float: left;
  xborder: solid 1px #D0D0D0;
  xbackground-color:#ffffff;
  margin: 1px;
  xpadding: 2px;
  overflow: hidden;
  xheight: 100px;
  xwidth: 100px;
}

.Item img.Icon {
  margin-right: 4px;
}

.Panel .Item .Name 
{
  display:inline;
}

.Item .Nickname 
{
  font-weight:bold;
}

.Item .Stacksize {
  float: right;
  margin-left: 2px;
}
